# Disable Next.js provider to prevent auto-detection
providers = ["node"]

[phases.setup]
nixPkgs = ["nodejs_18", "npm-9_x", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npx prisma migrate deploy && node .next/standalone/server.js"
