[build]
builder = "nixpacks"

[deploy]
startCommand = "node .next/standalone/server.js"
numReplicas = 1
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[service]
internalPort = 3000
